*{
    margin: 0;
    padding: 0;
}
/*--------- Products ----------*/
.container{
    width: 100%;
    height: 700px;
    background-color: #E5E5E5;
}
.r1{
    margin-left: 61px;
    margin-top: 20px;
    display: flex;
}
.i1{
    margin-left: -20px;
}
.i1 img{
  width: 600px;
  height: 650px;
  margin-left: 61px;
  margin-top: 25px;
}
.i1 p{
      margin-top: -575px;
      margin-left: 695px;
      font-size: 30px;
}

.i1 b{
    margin-left: 250px;
}