*{
    padding:0;
    margin:0;
    font-family: arial;
    box-sizing: border-box;
    color: black;
}

html{
    font-size: 62.5%;
}

main{
    max-width: 1500px;
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: auto;
}

main .card{
    border-style: solid;
    max-width: 330px;
    flex: 1 1 250px;
    text-align:center;
    height: 500px;
    border-style: 2px solid black;
    margin: 20px;
}

main .card .image{
    height: 55%;
    margin-bottom: 20px;
}

main .card .image img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    object-fit: cover;
}

main .card .caption{
    padding-left: 1em;
    text-align: center;
    line-height: 3em;
    height: 22%;
}

main .card .caption p{
    font-size: 2em;
    margin-top: 10px;
}

h1{
    margin-top: 25px;
}

main .card a{
    width: 50%;
}

main button{
    border: 2px solid black;
    padding: 1em;
    width: 80%;
    cursor: pointer;
    margin-top: 1.5em;
    font-weight: bold;
    position: relative;
}

main button:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: black;
    opacity: 0.5;
    transition: all .2s;
    margin: 0;
}


main button:hover::before{
    width: 100%;
}

