*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outbox{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    margin: 2% auto;
}

.container{
    width: 30%;
    height: 30%;
    padding: 2%;
    margin: 20px 70px;
}
.container1{
    width:40%; 
     height: 20%;
     margin: 25px;
}
.container1 input
{
    width: 100%;
    height: 35px;
    margin: 5px 0;

}
.container1 textarea
{
    width: 100%;
    height: 35px;
    margin: 5px 0;
}

.qty{
    margin: 5px;
}

#qty{
    margin: 5px;
}

.box{
    height: 400px;
}

.box img{
    height: 90%;
    width: 100%;
    background-size: cover;
}

.container .info{
    font-size: 28px;
    text-align: center;
}

/* .container label{
    font-size: larger;
    padding: 5px;
}

.container  input{
    height: 35px;
    width: 100%;
    margin: 10px 0;
} */
input [type=text]{
    width: 100%;
    height: 35px;
}

.container #p2{
    text-decoration: none;
    color: white;
    width: 140px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 70px;
    text-align: center;
    background: #357ca5;
    display: inline-block;
    margin-top: 20px;
}