*{
    margin: 0;
    padding: 0;
}

/*--------- Products ----------*/
.container{
    width: 100%;
    height: 600px;
    background-color: #E5E5E5;
    margin-bottom: 50px;
}
.r1{
    margin-left: 200px;
    margin-top: 30px;
}
.i1{
    margin-left: -20px;
}
.i1 img{
  width: 600px;
  height: 600px;
  margin-left: 61px;
  margin-top: 50px;
  display: flex;
}
.icons{
    margin-top: -580px;
    margin-left: 900px;
    font-size: 20px;
}
.icons img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
}