*{
    padding:0;
    margin:0;
    font-family: arial;
    box-sizing: border-box;
    color: black;
}

img{
    margin-left: 500px;
    margin-top: 25px;
    height: 30%;
    width: 30%;
}

table{
    margin-left: 325px;
    margin-top: 25px;
}

th{
    height: 40px;
}