/*Backgroung-image*/
.img{
    background-image: url(coverimg1.jpg);
    background-size: cover;
    margin-top: 5px;
    height: 650px;
    width: 1535px;
}

/*section*/
.feed-form{
    margin-top: 25px;
    height: 750;
    width:400px;
    top: 400px;
    left:780px;
    padding: 10px 10px;
    transform:translate(-50%, -50%);
    position:absolute;
    border-radius: 10px;
    background-color: #eeee;
    /*8background-color:#b0e0e6;*/
}

.feed-form h1{
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 20px;
    background-color: #357ca5;
    border-radius: 5px;
    color: white;
    
}

.feed-form p{
    font-size:20px;
    margin-top: 25px;
    margin-left: 15px;
}

.feed-form input{
     margin-left: 10px;
     margin-top: 10px;
     font-size:16px;
     width:80%;
     padding:10px 10px;
     border-radius:10px;
     border: 10px #0f1111;
}

textarea{
    width:83% ;
    margin-left: 10px;
    margin-top: 10px;
}

.feed-form button{
   margin-left: 100px;
   margin-top: 30px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   background-color: #357ca5;
   border: 10px white;
   border-radius: 70px;
   font-size: 19px;
   color:white;
   font-weight: bold;
   width: 50%;
   padding: 8px 10px;
}

.feed-form a{
   color: blue;
}