/*Footer*/
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #357ca5;
    border-top: 0.5px solid white;
    height: 100px;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.foot-panel1 h1{
    color: white;
}

.logo {
    background-image: url(mycart.png);
    background-size: cover;
    height: 80px;
    width: 170px;
    /*margin-left: 500px;*/
}

.foot-panel2{
    height: 50px;
    background-color: #007185;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2 p{
        color:#dddddd;
}