*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

body{
    background: #eee;
    background-size: cover;
}

.navbar{
    height: 83px;
    background-color: #357ca5;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 80px;
    width: 180px;
}

.logo{
    background-image: url(mycart.png);
    background-size: cover;
    height: 80px;
    width: 170px;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/*Box2*/
.nav-name a{
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: #eee;
}

.nav-name{
    padding: 24px 24px;
}

.nav-nm{
    color: #eee;
    font-size: 36px;
    align-items: center;
}

/*Box3*/
.about-us a{
    font-size: 28px;
    font-weight: bolder;
    padding-left: 5%;
    margin-left: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #eee;
}

.about-us{
    padding: 24px 24px;
}

.nav-abtus{
    color: #eee;
    font-size: 30px;
    align-items: center;
}

/*Box4*/
.feedback a{
    font-size: 28px;
    font-weight: bolder;
    padding-left: 5%;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #eee;   
}

.feedback{
    padding: 24px 24px;
}

.nav-fdback{
    color: #eee;
    font-size: 30px;
    align-items: center;
}

/*Box5*/
.contactus a{
    font-size: 28px;
    font-weight: bolder;
    padding-left: 5%;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #eee;
}

.contactus{
    padding: 24px 24px; 
}

.nav-contus{
    color: #eee;
    font-size: 30px;
    align-items: center;  
}

/*Box6*/
.profile a{
    font-size: 28px;
    font-weight: bolder;
    padding-left: 5%;
    margin-left: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: #eee;
}

.profile{
    padding: 24px 24px; 
}

.nav-prf{
    color: #eee;
    font-size: 30px;
    align-items: center;  
}

