/*Panel*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
}

.panel-ops a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.panel-ops{
    border-radius: 3px;
    padding: 8px 8px;
    font-size: 19px;
}
