.hero-btn{
    text-decoration: none;
    margin-left: 45px;
    margin-top: 5px;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 15px;
    border-radius: 70px;
    text-align: center;
    background: black;
    display: inline-block;
}
.form
{
	text-align:center;
	font-size: 25px; 
	margin-top:190px;
	border:2px;
	border-radius:5px;
	padding:10px;
	height:240px;
	width:300px;
	margin-left:470px;
	margin-right:450px;
}

/*add catagories css */
a:link
{
	color: blue;
	font-size: 25px;
}
a:visited
{
	text-decoration:none;
	color:black;
}
#adcat
{
	width:60%;
}
#ins_btn
{
	width:30%;
}
#ad{
	width: 150px;
	margin: 0;
}
u{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

h1{
    margin-top: 15px;
    margin-bottom: 15px;
}

th{
    height: 40px;
}